* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgb(48, 44, 44);
  border-bottom: 3px solid rgb(101, 101, 192);
}

.menu__item {
  position: relative;
}

.menu__link {
  display: inline-block;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__link:hover {
  color: black;
  background-color: rgba(101, 101, 192, 0.575);
  border-left: 3px solid rgb(101, 101, 192);
  transition: 0.3s;
}

.menu__link:hover .img {
  display: inline-block;
}

.menu__submenu-wrapper{
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100%));
  display: none;
  padding-top: 3px;
}

.menu__submenu {
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-height: 100px;
  list-style: none;
  background-color: rgb(48, 44, 44);
  border-bottom: 3px solid rgb(101, 101, 192);
  border-left: 3px solid rgb(101, 101, 192);
}

.menu__submenu > *+* {
  border-top: 1px solid rgb(101, 101, 192);
}

.menu__submenu-item {
  position: relative;
}

.menu__submenu-link {
  display: block;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white;
  text-decoration: none;
  color: white;
}

.menu__submenu-link:hover {
  color: black;
  background-color: rgba(101, 101, 192, 0.575);
  transition: 0.3s;
}

.menu__secondary-submenu-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(calc(100%));
  display: none;
  border-left: 3px solid rgb(101, 101, 192);
}

.menu__secondary-submenu {
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-height: 100px;
  list-style: none;
  background-color: rgb(48, 44, 44);
  border-bottom: 3px solid rgb(101, 101, 192);
  overflow-y: scroll;
}

.menu__secondary-submenu > * + * {
  border-top: 1px solid rgb(101, 101, 192);
}

.menu__secondary-submenu-link {
  display: block;
  padding: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: white;
  text-decoration: none;
  color: white;
}

.menu__secondary-submenu-link:hover {
  color: black;
  background-color: rgba(101, 101, 192, 0.575);
  transition: 0.3s;
}

.img {
  display: none;
  width: 25px;
  height: 25px;
  fill: white;
  vertical-align: text-bottom;
}

.menu__item:hover .menu__submenu, 
.menu__item:hover .menu__submenu-wrapper,
.menu__submenu-item:hover .menu__secondary-submenu-wrapper { 
  display: flex;
}

.text {
  padding: 15px;
  background-color: rgb(114, 112, 112);
}

.text p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: black
}